/* here all css properties and values are written as peer the order of main html file
and the media qurries are separated in different parts, all the screen size should be 
in order as well as all the id and classes are also */




/* screen size media queeries */
@media screen and (max-width: 768px) {
    /* _______________________________________________________________________________________________________ */
    /* header section */
    #header{
        text-align: center;
    }
    .open{
        text-align: center;
        padding-top: 6%;
    }
    /* _______________________________________________________________________________________________________ */
    /* content section */
    .item_1, .item_2, .item_3{
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
        padding: 0 3.5rem;
    }
    .item_1 img, .item_2 img, .item_3 img{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        align-items: center;
        margin: 1rem auto 0.2rem;
        display: block; 
    }
    .carousel_name{
        margin: 0 0 14px;
        font-size: 1.2rem;
    }
    

}